$background-gray: #e0e5ec;
$gray: #7e8a98;
$dark-gray: darken(#7e8a98, 10%);
$red: #e22d49;
$track: #3fbbe9;

@mixin reverse-neu {
  box-shadow: inset -5px -5px 15px 0px #ffffff9e,
    inset 5px 5px 15px 0px #a3b1c6a8;
}

body {
  background-color: $background-gray;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .album-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px;
    padding: 0px;

    @media (max-width: 699px) {
      display: none;
    }

    .backdrop {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      left: 0px;
      filter: opacity(0.3) blur(5px);
      -webkit-filter: opacity(0.3) blur(5px);
      z-index: 0;
    }

    .album-overlay {
      width: 26%;
      background-color: #fff;
      position: absolute;
      clip-path: ellipse(61% 64% at 82% 56%);
      -webkit-clip-path: ellipse(61% 64% at 82% 56%);
      opacity: 0.35;
      z-index: 2;

      @media (max-width: 1024px) {
        width: 32%;
      }

      @media (max-width: 899px) {
        width: 38%;
      }
    }

    img {
      width: 26%;
      display: flex;
      object-fit: contain;
      z-index: 1;

      @media (max-width: 1024px) {
        width: 32%;
      }

      @media (max-width: 899px) {
        width: 38%;
      }
    }
  }

  .album-cover {
    width: 100%;
    height: 130px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #111;
    z-index: 2;

    @media (max-width: 699px) {
      height: 75%;
      flex-direction: column;
      border: none;
    }

    .album-info {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: left;
      padding: 0px;

      @media (max-width: 699px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      img {
        height: 100%;
        object-fit: contain;

        @media (max-width: 699px) {
          width: 270px;
          height: auto;
          border-radius: 10px;
          margin: 15px auto;
        }

        @media (max-width: 420px) {
          width: 240px;
          height: auto;
        }
      }

      .title-box {
        display: flex;
        justify-content: flex-end;
        align-items: left;
        flex-direction: column;
        margin: 0px 0px 0px 15px;
        padding: 8px 0px;

        @media (max-width: 699px) {
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          margin: 0px;
          padding: 8px 0px;
        }

        .song-title {
          color: $dark-gray;
          font-size: 22px;
          margin: 0px;
          padding: 2px 0px;

          @media (max-width: 699px) {
            padding: 8px 0px;
          }
        }

        .artist-title {
          color: $dark-gray;
          font-size: 15px;
          margin: 0px;
          padding: 2px 0px;

          @media (max-width: 699px) {
            padding: 8px 0px;
          }
        }
      }
    }

    .icon-box {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0px 15px;

      @media (max-width: 699px) {
        justify-content: center;
        padding: 0px;
      }

      i {
        color: $dark-gray;
        font-size: 20px;
        border: 1px solid $dark-gray;
        border-radius: 10px;
        margin: 0px 5px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @media (max-width: 420px) {
          font-size: 16px;
        }
      }

      i:hover {
        color: $track;
        border-color: $track;
        transform: scale(0.9);
      }
    }
  }

  .track-box {
    width: 100%;
    background-color: #2b2b2b;

    @media (max-width: 699px) {
      height: 25%;
    }

    .track-range {
      width: 95%;
      height: 10px;
      position: relative;
      margin: 15px auto;

      .progress-input {
        width: 100%;
        height: 100%;
        background-color: $dark-gray;
        border-radius: 8px;
        position: absolute;
        outline: none;
        overflow: hidden;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      .progress-input::-webkit-slider-thumb {
        width: 6px;
        height: 6px;
        background-color: $track;
        border-radius: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      .progress-input::-moz-range-thumb {
        width: 6px;
        height: 6px;
        background-color: $track;
        border-radius: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      .progress-input::-webkit-slider-thumb:hover,
      .progress-input::-webkit-slider-thumb:focus,
      .progress-input::-webkit-slider-thumb:active {
        width: 9px;
        height: 9px;
      }
      .progress-input::-moz-range-thumb:hover,
      .progress-input::-moz-range-thumb:focus,
      .progress-input::-moz-range-thumb:active {
        width: 9px;
        height: 9px;
      }
    }

    .time-box {
      width: 95%;
      color: $track;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px auto;
    }

    .player-bar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0px 20px;
      position: relative;

      .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          width: 45px;
          height: 45px;
          font-size: 22px;
          color: $dark-gray;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          margin: 0px 5px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          @media (max-width: 420px) {
            font-size: 16px;
            margin: 0px;
          }
        }

        .play {
          font-size: 33px;

          @media (max-width: 420px) {
            font-size: 22px;
          }
        }

        i:hover {
          color: $track;
          font-size: 20px;
          transform: scale(0.9);

          @media (max-width: 420px) {
            font-size: 16px;
          }
        }

        .play:hover {
          font-size: 30px;

          @media (max-width: 420px) {
            font-size: 22px;
          }
        }
      }

      .volume-box {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 2.5%;

        @media (max-width: 699px) {
          justify-content: right;
          right: 5%;
        }

        @media (max-width: 420px) {
          display: none;
        }

        .volume-range {
          width: 100%;
          height: 5px;
          position: relative;
          margin: 15px auto;

          @media (max-width: 699px) {
            display: none;
          }

          .volume-input {
            width: 100%;
            height: 100%;
            background-color: $dark-gray;
            border-radius: 5px;
            position: absolute;
            outline: none;
            overflow: hidden;
            cursor: pointer;
            margin: 0px;
            padding: 0px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
          }

          .volume-input::-webkit-slider-thumb {
            width: 5px;
            height: 5px;
            background-color: $track;
            border-radius: 100%;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
          }
          .volume-input::-moz-range-thumb {
            width: 5px;
            height: 5px;
            background-color: $track;
            border-radius: 100%;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
          }
        }

        i {
          color: $dark-gray;
          font-size: 18px;
          padding: 0px 8px 0px 0px;
          cursor: pointer;

          @media (max-width: 699px) {
            padding: 0px;
          }
        }

        i:hover {
          color: $track;
        }
      }
    }
  }
}
